<h1><%= @list.name %></h1>
<h3> <% @list.movies.each do |movie| %></h1>
<p> <%= movie.title %> </p>
  <p><%= movie.overview %></p>
  <p> <% bookmark = Bookmark.find_by(movie: movie, list: @list)%> </p>
  <p> <%= bookmark.comment %> <%= link_to "delete",
                    bookmark_path(bookmark),
                    method: :delete,
                    data: { confirm: "Are you sure you want to remove it"}%></p>
<% end %>

<%= simple_form_for([ @list, @bookmark ]) do |f| %>
<%= f.input :comment, label:"bookmark" %>
<%= f.association :movie, prompt: 'Select a movie' %>
<%= f.submit class: 'btn btn-primary' %>
<% end %>

<p><%= link_to "Lists", lists_path %></p>
